<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was create by Steve Klock. It uses data from mapbox.</p>
    </div>
    <p>Created by: {{name}}</p>
    <img class="portrait" src="/assets/1A2BRM.jpg" />
    {{>footer}}
  </body>
</html>